@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: darkslateblue;
    color: white;
    padding: 20px 60px 0;
}
.navbar {
    display: flex;
    font-size: large;
    justify-content: space-between;
    min-height: 5vh;
    a{
        color: white;
        text-decoration: none;
    }
    button{
        color: white;
    }
    .brand{
        font-size: x-large;
        font-weight: bold;
    }
    ul {
        margin: 0;
        display: flex;
        list-style: none;
        vertical-align: bottom;
        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 95vh;
}

.alert{
    color: white;
    background-color: lightslategray;
    padding: 20px 10px 20px;
    text-align: center;
}

.link-button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: inherit;
}
input, textarea{
    font-size: inherit;
    font-family: inherit;
    padding: 6px 8px;
    margin: 8px 0;
    border: 1px solid lightgray;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    &:focus{
        outline: none;
        border-bottom: 2px solid darkslateblue;
    }
}
textarea{
    font-size: large;
}

.form{
      display: flex;
    flex-direction: column;

label{
    font-weight: bold;
}

}

.button{
    background-color: darkslateblue;
    color: white;
    box-shadow: none;
    border: none;
    font-size: inherit;
    padding: 10px 20px 10px;
    border-radius: 10px;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    background-color: darkslateblue;
    box-shadow: 0 100vh 0 100vh darkslateblue;
}